# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignora arquivos gerados pelo Gradle
.gradle/
build/
bin/

# Ignora arquivos de configuração do IDE
.vscode/

# app specific
preferencias.csv

# Mantem o wrapper do Gradle
!gradle-wrapper.jar

